# Dependencies
node_modules/

# Build outputs
/.cache


# Environment files
.env
.env.*
!.env.example  # Keep example env files

# Editor/IDE
.DS_Store
.vscode/

# Shopify
.shopify/

# Testing
/test-results/
/playwright-report/
/playwright/.cache/

# MiniOxygen
.mf/